@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.hide {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 115px;
  margin-bottom: 30px;
  position: sticky;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242222;
  z-index: 100;
}

.menu-line {
  display: block;
  background: #e2a917;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}

.menu-btn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 5px;
}

.logo {
  margin-left: 40px;
  margin-right: 70px;
  width: 150px;
  height: 30px;
}

.input-group {
  background: #4d4b49;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}

.input-search {
  width: 100%;
  background-color: transparent;
  border: none;
  color: rgb(219, 207, 207);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
}

.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  color: #e2a917;
  margin-left: auto;
}

.auth.active {
  border: none;
}

.auth-btn {
  background-color: transparent;
  border-color: #e2a917;
  width: 90px;
  height: 40px;
  text-align: center;
  margin-left: 50px;
  cursor: pointer;
  border: solid 2px 2px;
  color: #e2a917;
}

.spinner {
  margin-right: 35px;
}

.auth-btn:hover {
  background-color: #e2a8173d;
}

.user {
  padding: 0;
  background-color: transparent;
  border: none;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  margin-left: 20px;
}
